[core]
  longpaths = true
  autocrlf = true
[interactive]
  diffFilter = delta --color-only
[merge]
  renamelimit = 999999
  conflictstyle = diff3
[diff]
  colorMoved = default
[log]
  date = iso8601
[alias]
  slog = log -20 --pretty=format:'%C(yellow)%H %C(cyan)(%ai) %Cgreen[%an] %C(magenta)%d %Creset%s'
  cbranch = rev-parse --abbrev-ref HEAD
  fetchb = !git fetch origin $(git cbranch)
  pullb = !git pull origin $(git cbranch)
  rpush = !git pullb --rebase && git push
  rebaseb = !git rebase origin/$(git cbranch)
  unstage = reset HEAD --
  last = slog -1 HEAD
  cleanup = !git branch | grep -v "$(git cbranch)" | xargs git branch -D
  hclean = !git reset --hard && git clean -fd
  sshow = show --name-status --no-renames
  cpn = cherry-pick -n
  cp = "!git cherry-pick -n && git commit -m \"$(git show -s --pretty='%s' $1)\" #"
  msg = show --format=oneline --stat
[fetch]
  prune = true
[push]
  default = current
[color "diff"]
  meta = "yellow bold"
  commit = "green bold"
  frag = "magenta bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[include]
  path = ~/.gitconfig.include
[credential "https://azure.geravd.com.br:9443"]
	provider = generic
